@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  background-color: #fefbf7
}

/*TOP NAV CSS*/
nav{
  background-color: transparent;
  /*border: 2px solid black;*/
  height: 100px;
  margin-top: .5%;
  margin-bottom: 2%
}

.nav-text{
  /*border: 2px solid black;*/
  font-family: source code pro;
  letter-spacing: 10px;
  font-size: 11px;
  color: black
}

/*Margin that pushes login & cart to the left*/
#nav-mobile{
  /*border: 2px solid black;*/
  margin-right: 6.5%
}

#gochu_logo{
  height: 70px;
  width: 100px;
  /*border: 2px solid black;*/
  margin-top: 8%;
  opacity: .85
}

#search_bar{
    /*border: 2px solid black;*/
    margin-top: 2.3%
}

#search_bar_text{
  font-family: source code pro;
  letter-spacing: 4px;
  font-size: 11px;
  color: black
}









/*SIDE NAV CSS*/
#side-nav{
  /*border: 2px solid black;*/
  padding-top: 1%
}

.table-of-contents li{
  padding: 20px;
  font-family: source code pro;
  letter-spacing: 8px;
  font-size: 15px;
  color: black
}


#blank_space{
  /*border: 2px solid black;*/
  height: 200px;
  width: 40px
}

.slideImg{
  height: 500px
}


/* FOOTER STARTS */

.page-footer{
  background-color: black;
  height: 400px
}
hr{
  width: 150px;
  border: 1.5px solid white

}
#newsletter_heading{
  font-family: source code pro;
  letter-spacing: 20px;
  font-size: 25px;
  font-weight: bolder
}
.newsletter_text{
  font-family: source code pro;
  letter-spacing: 8px;
  font-size: 10px
}
#newsletter_email_text{
  color: white;
  font-family: source code pro;
  letter-spacing: 6px;
  font-size: 10px
}
.subscribe_butt{
  background-color: transparent;
  border: 2px solid white;
  margin-bottom: 2%;
  color: white;
  font-family: source code pro;
  letter-spacing: 8px;
  font-size: 10px;
  margin-bottom: 5%
}
.footerTab_text{
  font-family: source code pro;
  letter-spacing: 7px;
  font-size: 10px;
  margin-top: 35px
}
.copywrite{
  font-family: source code pro;
  letter-spacing: 4px;
  font-size: 8px;
}
.empty_space{
  /*border: 2px solid white;*/
  height: 6px
}
