<!-- MIDDLE SLIDE IMAGE CONTENT -->
    <!-- <div class="col s1 m1 l1" id="blank_space"></div>

    <div class="carousel carousel-slider center col s9 m8 l9" data-indicators="true">
      <a class="carousel-item" href="#one!"><img class="slideImg" src="img/samp2.jpg"></a>
      <a class="carousel-item" href="#two!"><img class="slideImg" src="img/samp3.jpg"></a>
      <a class="carousel-item" href="#three!"><img class="slideImg" src="img/samp1.jpg"></a>
      <a class="carousel-item" href="#four!"><img class="slideImg" src="img/samp4.jpg"></a>
    </div> -->
<!-- MIDDLE SLIDE IMAGE CONTENT ENDS -->

  <!-- SIDE NAV ENDS -->


  <!-- SHOW US WHAT YOU GOT HEADING -->

  <div class="row show_us_heading">
    <div class="col s12">
      <h6 class="center-align" id="show_us_text">SHOW US WHAT YOU GOT</h6>
    </div>
  </div>


  <!-- SHOW US WHAT YOU GOT HEADING ENDS-->


<!-- ******************************************************************************************************** -->

<!-- THIS SHOULD GENERATE DYNAMIC RECIPES / PICS -->

  <!-- SHOW US WHAT YOU GOT CONTENT -->
<div class="row">
  <div class="col s1 m1 l1"></div>

  <div class="card show_us_cards col s12 m6 l3">
    <div class="card-content">
      <img class="materialboxed show_us_img col s12 m12 l12" src="img/sample2Img.jpg">
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="show_us_card_text" href="#test4">Cusine Name</a></li>
        <li class="tab"><a class="show_us_card_text active" href="#test5">Cusine Recipe</a></li>
      </ul>
    </div>
    <div class="card-content">
      <div class="show_us_card_text" id="test4">Cusine Name</div>
      <div class="show_us_card_text" id="test5">Cusine Recipe</div>
    </div>
  </div>
<!-- //////////////////////////////////////////////////////////////////////////// -->
  <div class="card show_us_cards col s12 m6 l3">
    <div class="card-content">
      <img class="materialboxed show_us_img col s12 m12 l12" src="img/sample2Img.jpg">
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="show_us_card_text" href="#test6">Cusine Name</a></li>
        <li class="tab"><a class="show_us_card_text active" href="#test7">Cusine Recipe</a></li>
      </ul>
    </div>
    <div class="card-content">
      <div class="show_us_card_text" id="test6">Cusine Name</div>
      <div class="show_us_card_text" id="test7">Cusine Recipe</div>
    </div>
  </div>
<!-- //////////////////////////////////////////////////////////////////////////// -->
  <div class="card show_us_cards col s12 m6 l3">
    <div class="card-content">
      <img class="materialboxed show_us_img col s12 m12 l12" src="img/sample2Img.jpg">
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="show_us_card_text" href="#test8">Cusine Name</a></li>
        <li class="tab"><a class="show_us_card_text active" href="#test9">Cusine Recipe</a></li>
      </ul>
    </div>
    <div class="card-content">
      <div class="show_us_card_text" id="test8">Cusine Name</div>
      <div class="show_us_card_text" id="test9">Cusine Recipe</div>
    </div>
  </div>


</div>
<!-- SHOW US WHAT YOU GOT CONTENT ENDS -->

<!-- ******************************************************************************************************** -->

<!-- SHOW US WHAT YOU GOT CONTENT 2-->


<div class="row">
  <div class="col s1 m1 l1"></div>

  <div class="card show_us_cards col s12 m6 l3">
    <div class="card-content">
      <img class="materialboxed show_us_img col s12 m12 l12" src="img/sampleImg.jpg">
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="show_us_card_text" href="#test10">Cusine Name</a></li>
        <li class="tab"><a class="show_us_card_text active" href="#test11">Cusine Recipe</a></li>
      </ul>
    </div>
    <div class="card-content">
      <div class="show_us_card_text" id="test10">Cusine Name</div>
      <div class="show_us_card_text" id="test11">Cusine Recipe</div>
    </div>
  </div>
<!-- //////////////////////////////////////////////////////////////////////////// -->
  <div class="card show_us_cards col s12 m6 l3">
    <div class="card-content">
      <img class="materialboxed show_us_img col s12 m12 l12" src="img/sampleImg.jpg">
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="show_us_card_text" href="#test12">Cusine Name</a></li>
        <li class="tab"><a class="show_us_card_text active" href="#test13">Cusine Recipe</a></li>
      </ul>
    </div>
    <div class="card-content">
      <div class="show_us_card_text" id="test12">Cusine Name</div>
      <div class="show_us_card_text" id="test13">Cusine Recipe</div>
    </div>
  </div>
<!-- //////////////////////////////////////////////////////////////////////////// -->
  <div class="card show_us_cards col s12 m6 l3">
    <div class="card-content">
      <img class="materialboxed show_us_img col s12 m12 l12" src="img/sampleImg.jpg">
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="show_us_card_text" href="#test14">Cusine Name</a></li>
        <li class="tab"><a class="show_us_card_text active" href="#test15">Cusine Recipe</a></li>
      </ul>
    </div>
    <div class="card-content">
      <div class="show_us_card_text" id="test14">Cusine Name</div>
      <div class="show_us_card_text" id="test15">Cusine Recipe</div>
    </div>
  </div>
</div>
